$border-color: rgba(64, 64, 64, 1);
$background-color: rgba(40, 40, 40, 1);
$gray-color: rgba(48, 48, 48, 1);
$text-color-dark: rgba(150, 150, 150, 1);
$success-color: green;
$warning-color: orange;
$danger-color: red;
$info-color: blue;
