$theme-color: #1FD6A6;
$info-color: #1D8ED7;
$danger-color: #ED4848;
$warning-color: #FDD428;
$success-color: #20C05C;

$titlebar-color: rgba(40, 40, 40, 1);
$sidebar-color: rgba(40, 40, 40, 1);
$mainbar-color: rgba(40, 40, 40, 1);

$panel-header-color: rgba(40, 40, 40, 1);
$panel-body-color: rgba(40, 40, 40, 1);
$panel-footer-color: rgba(40, 40, 40, 1);

$border-color: rgba(64, 64, 64, 1);
$background-color: rgba(40, 40, 40, 1);
$modal-background-color: rgba(40, 40, 40, 1);
$list-item-border-color: rgba(40, 40, 40, 1);

$gray-color: rgba(48, 48, 48, 1);

$text-color-dark: rgba(150, 150, 150, 1);
$text-color: white;

$active-color: orange;
$disabled-color: #B8B8B8;
$disabled-background-color: #DDDDDD;
$button-color: rgba(48, 48, 48, 1);
$list-item-color: rgba(48, 48, 48, 1);

$input-border-color: rgba(64, 64, 64, 1);
$input-background-color: rgba(48, 48, 48, 1);
$input-border-radius: 4px;

@mixin no-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
